//newageplatform.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.06cc1cfc-5894-4b53-b01f-fb99f4dbc22e/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@familycalnderapp:registry=https://newageplatform.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.06cc1cfc-5894-4b53-b01f-fb99f4dbc22e/contents/release/npm
